streamlit==1.39.0
opencv-python-headless==4.9.0.80
numpy==1.26.4
torch==2.2.0
matplotlib==3.8.2
Pillow==10.2.0
tensorflow==2.19.0
keras==2.19.0
fer==22.3.0
moviepy==1.0.3
rich==13.7.0
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.19.1
